.site-content{
    background: #d8ecf1;
}
.site-main{
    width: 1190px;
    margin:0 auto ;
}
.enter{
    background: #fff;
}
.enter .enter-top{
    height:90px;
    color:#333333;
    font-size:24px;
    padding-left: 70px;
    line-height: 115px;
    border-bottom:1px solid #e7e7e7;
}
.enter .enter-top:before{
    content: '';
    display: inline-block;
    width: 30px;
    height:27px;
    background: url("../images/merchant/merchant-enter.png") no-repeat;
    vertical-align: sub;
    margin-right: 14px;
}
.enter-step{
    height: 190px;
    margin: 0 auto;
    text-align: center;
    border-bottom:1px solid #f2f2f5;
}
.enter-step > ul > li{
    width: 128px;
    margin-top: 37px;
    position: relative;
    font-size:14px;
    color:#333333;
    line-height: 52px;
}
.enter-step > ul > li:before{
    content: '';
    background: #f2f2f5;
    display: inline-block;
    width: 10px;
    height:10px;
    position: absolute;
    border-radius:50%;
    left: 14px;
    top:11px;
}
.enter-step > ul > li:after{
    content: '';
    background: #f2f2f5;
    display: inline-block;
    width: 10px;
    height:10px;
    position: absolute;
    border-radius:50%;
    right: 9px;
    top:11px;
}
.enter-step > ul > li > i{
    display: block;
    width: 32px;
    height: 32px;
    background: #f2f2f5;
    border-radius:50%;
    font-size:16px;
    color:#808082;
    line-height: 32px;
    margin: 0 auto;
}
.enter-step .visited > i{
    background:#fd4778;
    color:#fff;
}
.enter-step .notice:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/merchant/notice.png") no-repeat;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.enter-step .notice{
    margin-top: 5px;
    color:#fd4778;
}
.enter-info-title{
    height: 44px;
    padding-left: 114px;
    color:#333333;
    font-size: 14px;
    line-height: 42px;
    border-bottom:1px solid #f2f2f5;
}
.enter-type{
    height: 160px;
    border-bottom:1px solid #f2f2f5;
    padding-left: 230px;
    padding-top: 37px;
}
.enter-type span{
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.enter-type span:nth-child(1):before{
    content: '';
    display: block;
    background: url("../images/merchant/merchant-type.png")0 0 no-repeat;
    width: 66px;
    height: 66px;
    margin-left: 18px;
}
.enter-type span:nth-child(2):before{
    content: '';
    display: block;
    background: url("../images/merchant/merchant-type.png") 0 -66px no-repeat;
    width: 66px;
    height: 66px;
    margin-left: 18px;
}
.enter-type span:nth-child(1):hover:before{
    background-position: -66px 0;
}
.enter-type span:nth-child(2):hover:before{
    background-position: -66px -66px;
}
.enter-form{
    padding: 30px 0 0 0;
    border-bottom:1px solid #f2f2f5;
}
.enter-form li{
    display: block;
    margin-top: 25px;
}
.enter-form li:nth-child(1){
    margin-top: 0;
}
.enter-form .must:before{
    content: '*';
    color:red;
    letter-spacing: 5px;
}
.enter-form .left-text{
    display: inline-block;
    text-align: right;
    width: 210px;
    color:#919191;
    font-size:12px;
    margin-right: 15px;
}
.enter-form input{
    border:1px solid #a9a9a9;
    background: #ffffff;
}
.enter-form select{
    width: 120px;
    height: 30px;
    border:1px solid #a9a9a9;
    background: #ffffff;
}
.enter-form textarea{
    width: 510px;
    height: 80px;
    border:1px solid #a9a9a9;
    background: #ffffff;
    vertical-align: text-top;
}
.enter-form .get-code{
    width: 82px;
    height: 26px;
    display: inline-block;
    border:1px solid  #d9d9d9;
    font-size: 12px;
    color:#333333;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}
.enter-form p {
    font-size: 12px;
    color: #919191;
    margin-left: 225px;
    margin-top: 5px;
}
.enter-form .notice{
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}
.enter-form .right-input{
    margin-left: -5px;
}
.enter-form .fileup{
    background: #f2f2f5;
    width: 110px;
    height: 110px;
    display: inline-block;
    font-size: 12px;
    color:#8a8a8a;
    padding: 20px 10px;
    line-height: 16px;
    vertical-align: top;
    margin: 10px 0 0 225px;
}

.enter-form .fileup-ext{
    margin: 10px 0 0 0;
}
.enter-form .notice-ico:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/merchant/notice.png") no-repeat;
    vertical-align: sub;
    margin-right: 10px;
}
.enter-form .agreement{
    margin:30px 143px 20px 143px;
}
.enter-form a{
    color:#fd4778;
}
.enter-form .finish{
    height: 60px;
    background: #f2f2f5;
    text-align: center;
    padding-top: 15px;
}
.enter-form .input-button{
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #fd4778;
    font-size: 12px;
    color:#fff;
    border-radius: 30px;
    margin: 0 auto;
    cursor: pointer;
}

/*店铺主页    */
.store-banner{
    height: 316px;
    width: 100%;
    background: url("../images/merchant/home-1.png") no-repeat;
    position: relative;
}
.store-banner .store-logo{
    width: 159px;
    height: 112px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
}
.store-banner .store-logo p{
    width: 142px;
    height: 100px;
    margin: 6px 9px;
}
.store-banner .store-logo img{
    width: 100%;
    height: 100%;
}
.store-banner .store-logo img{
    width: 100%;
    height: 100%;
}
.hospital-manu{
    height: 167px;
    width: 100%;
    background: #fff;
}
.hospital-manu ul{
    width: 100%;
}
.hospital-manu li{
    float: left;
    box-sizing: border-box;
    width: 11%;
    height: 100px;
    margin-top: 47px;
    text-align: center;
}
.hospital-manu i{
    display: block;
    height: 35px;
}
.hospital-manu p{
    margin-top: 20px;
    font-size: 16px;
    color:#333333;
}
.hospital-manu .act i{height: 70px;}
.hospital-manu .act{margin-top: 12px;  }
.hospital-manu .act p{color: #2db4df;}
.store-home .store-info{
    height: 250px;
    width: 100%;
    border-radius:10px;
    background: #fff;
    margin-top: 20px;
}
.store-home .entry-logo{
    float: left;
    width: 300px;
    height: 210px;
    border-radius: 7px;
    border: 1px solid #ececec;
    overflow: hidden;
    margin: 20px;
}
.store-home .entry-logo img{
    width: 100%;
    height: auto;
}
.store-home .entry-content{
    width: 560px;
    float: left;
    position: relative;
    margin-top: 25px;
}
.store-home .entry-content .entry-header{color:#444;font-size: 22px;float: left;width: 100%;}
.store-home .entry-content .entry-header > h2{font-weight: normal;float: left;}
.store-home .entry-content .entry-header > span >a{font-size: 20px;}
.store-home .entry-serviec{float: left;}

.img-serive-ico{
    float: left;
    margin-top: -5px;
}
.img-serive-ico i{
    display: inline-block;
    background: url("../images/server-ico.png") no-repeat;
    vertical-align: sub;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.img-serive-ico .cert{background-position: 0 0}
.img-serive-ico .safe{background-position: 0 -36px;}
.img-serive-ico .comment{background-position: 0 -72px;}

.store-home .store-info .chat{position: absolute;
    top:0;right: 18px;}
.store-home .store-info .chat:hover i{display: inline-block;transition: top 2s,transform 2s;top:-42px;}
.store-home .store-info .chat i{display:none;position:absolute;left:-15px;width: 64px;height: 32px;background: #57c7ea;color:#fff;font-size: 12px;line-height: 32px;text-align: center;border-radius:5px;}
.store-home .store-info .chat i:before{content: '';position:absolute;bottom:-8px;left:25px;border-top: 8px solid #57c7ea;border-left:8px solid transparent;border-right:8px solid transparent;}
.store-home .store-info .ename{float: left;display: block;width: 100%;/*line-height: 10px;*/line-height: 32px;}
.store-home .store-info .data{font-size: 14px;color:#444444;}
.store-home .store-info .data i{color:#2db4df;}
.store-home .store-info .data span{margin: 0 5px;}
.store-home .store-info .entry-info{float: left;}
.store-home .store-info .entry-info .grade-other{margin-right: 15px;}
.store-home .store-info .entry-info .grade-other i{color:#2db4df;}
.store-home .store-info .entry-info dl{font-size: 12px;color:#606060;}
.store-home .store-info .entry-info dl dt{width: 40%;display: inline-block;height: 20px;float: left;}
.store-home .store-info .entry-serviec{width: 290px;height: 100%;border-left: 1px solid #dedede;}
.store-home .store-info .entry-serviec .widget-title{font-size: 20px;font-weight: bolder;color:#333333;text-align: center;margin-top: 25px;}
.store-home .store-info .entry-serviec .widget-title:before{
    content: '';
    display: inline-block;
    width: 20px;
    border-top: 1px solid #aaaaaa;
    vertical-align: middle;
    margin-right: 10px;
}
.store-home .store-info .entry-serviec .widget-title:after{
    content: '';
    display: inline-block;
    width: 20px;
    border-top: 1px solid #aaaaaa;
    vertical-align: middle;
    margin-left: 10px;
}
.store-home .store-info .entry-serviec .widget-li{width: 100%;margin: 15px auto;text-align: center;padding: 0 30px}
.store-home .store-info .entry-serviec .widget-li li{float: left;cursor:pointer;padding: 0 15px;margin:5px 10px 10px 0;color:#666666;font-size: 14px;border: 1px solid #d3d3d3;height:25px;border-radius:25px;line-height:23px;box-sizing: border-box;}
.store-home .store-info .entry-serviec .widget-li li:hover{border:1px solid #4bbfe4;color:#4bbfe4;}
.store-home .store-info .entry-serviec .widget-li .score-star{}

.store-home .store-info .entry-serviec .widget-li p{
    font-size: 18px;
    color:#333;
    margin: 10px 0  30px 0;
}
.store-home .store-info .entry-serviec .widget-li p img{
    vertical-align: middle;
    margin: -2px 10px;
}
.store-home .store-info .entry-serviec .widget-li p:before{
    content: '';
    height: 6px;
    border-top: 1px solid #aaa;
    width: 20px;
    display: inline-block;
    margin-right: 25px;
}
.store-home .store-info .entry-serviec .widget-li p:after{
    content: '';
    height: 6px;
    border-top: 1px solid #aaa;
    width: 20px;
    display: inline-block;
    margin-left: 25px;
}


.hospitalHome-chat{
    margin-top: 18px;
    height: 25px;
}
.store-home .store-active{
    height: 138px;
    background: #Fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 0 0 20px;
    width: 100%;
    overflow: hidden;
}
.store-home .store-active li{float: left;height: 85px;width:277px;border-right: 1px solid #ececec;margin: 29px 20px 29px 0px}
.store-home .store-active li:nth-child(4){margin-right: 0;border-right:none;}
.store-home .store-active .left-img{width: 120px;height: 100%;float: left;position: relative;}
.store-home .store-active .left-img img{width: 100%;height: 100%;position: absolute;left: 0;}
.store-home .store-active .tag:before{content: '';height: 18px;border-bottom-right-radius: 5px;position:absolute;z-index: 10;left: 0;
    font-size:12px;
    color:#fff;
    line-height: 18px;
    text-align: center;
    padding: 0 5px;
}
.store-home .store-active .news:before{content: '新';background: #fe7dad;}
.store-home .store-active .old:before{content: '往期';background: #999999;}
.store-home .store-active .old-but a{background: #ebebeb!important;color:#666666!important;}
.store-home .store-active .right-con{float: left;font-size: 12px;color:#555555;margin-left: 15px;width: 120px;line-height: 18px;}
.store-home .store-active .right-con a{display: block;width: 67px;height: 20px;background: #fe7dad;color:#fff;line-height: 20px;text-align: center;margin-top: 6px;border-radius: 20px;float: right;}

.store-home .box1{
    background-color: #f4f4f4;
}
.store-home .box1 .container-warp{
    width: 1190px;
    height: auto;
    margin: 0 auto;
}
.store-home .box1 .container-title{
    padding-top: 38px;
    text-align: center;
}
.store-home .box1 .container-title>h3{
    position: relative;
    font-size: 24px;
    color: #484848;
    line-height: 48px;
    font-weight: 500;
}
.store-home .box1 .container-title>h3:after{
    content:'';
    position: absolute;
    top:22px;
    margin-left: 10px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") 0 -90px no-repeat;
}
.store-home .box1 .container-title>h3:before{
    content:'';
    position: absolute;
    top:22px;
    margin-left: -95px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") -88px -90px no-repeat;
}
.store-home .box1 .container-title>p{
    font-size: 14px;
    color:#484848;
    text-align: right;
    line-height: 14px;
}
.store-home .box1 .container-list{
    margin-top: 8px;
    margin-bottom: 79px;
    font-size: 12px;
}
.store-home .box1 .container-list > ul > li{
    width: 590px;
    height: 300px;
    float: left;
    border: 1px solid #d5d5d5;
    border-radius:8px;
    background: #fff;
    position: relative;
    padding: 0 20px;
    margin-right: 10px;
    margin-top: 20px;
}
.store-home .box1 .container-list > ul > li:hover {
    border: 1px solid #2db4df;
    -webkit-box-shadow: 0 0 10px 2px #e3edf4;
    -moz-box-shadow: 0 0 10px 2px #e3edf4;
    box-shadow: 0 0 10px 4px #e3edf4;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.store-home .box1 .container-list > ul > li:nth-child(even){
    margin-right: 0;
}
.store-home .box1 .entry-header{
    padding: 20px 0 ;
    float: left;
    border-bottom: 1px solid #ececec;
}
.store-home .box1 .container-list .entry-money{
    height: 34px;
    line-height: 34px;
    color: #fff;
    position: absolute;
    background: #2db4df;
    right: 8px;
    top: 0;
    text-align: center;
    padding: 0 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 34px solid #2db4df;
}
.store-home .box1 .container-list .entry-money i{
    font-size: 18px;
}
.store-home .box1 .container-list .entry-title{
    color:#444444;
    font-size: 16px;
    font-weight: bold;
    float: left;
    width: 420px;
    height: 46px;
}
.store-home .box1 .container-list .entry-title .img-serive-ico{
    float: none;
}
.store-home .box1 .container-list .entry-title .img-serive-ico i{
    background-size: 20px;
    width: 20px;
    height: 20px;
}
.store-home .box1 .container-list .entry-title .img-serive-ico .safe{background-position: 0 -20px;}
.store-home .box1 .container-list .entry-title .img-serive-ico .comment{background-position: 0 -40px;}
.store-home .box1 .container-list .entry-data{
    float: left;
    margin-top: 10px;
}
.store-home .box1 .container-list .entry-data span{
    margin-right: 15px;
}
.store-home .box1 .container-list .entry-data span i{
    color:#2db4df;
}
.store-home .box1 .container-list .hospital{
    float: left;
    height: 150px;
    margin-top: 15px;
}
.store-home .box1 .container-list .hospital .hospital-img{
    width: 215px;
    float: left;
}
.store-home .box1 .container-list .hospital .hospital-img img{
    width: 100%;
    height: 150px;
}
.store-home .box1 .container-list .hospital .hospital-content{
    float: left;
    margin-left: 20px;
    width: 310px;
}
.store-home .box1 .container-list .hospital .hospital-name{
    font-size: 14px;
    color:#000000;
}
.store-home .box1 .container-list .hospital .hospital-entry{
    font-size: 12px;
    font-family: '宋体';
    color:#606060;
    position: relative;
}
.store-home .box1 .container-list .hospital dt{height: 20px;}
.store-home .box1 .container-list .hospital .left-con{
    position: absolute;
}
.store-home .box1 .container-list .hospital .right-con{
    position: absolute;
    left: 150px;
    top: 6px;
    width: 200px;
}
.store-home .box1 .container-list .hospital .right-con .doctor{
    height: 50px;
    overflow: hidden;
}
.store-home .box1 .container-list .hospital .right-con li {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
}
.store-home .box1 .container-list .hospital .right-con li img{
    width: 100%;
    height: 100%;
}
.store-home .box1 .container-list .hospital .right-con .h-logo{
    height: 60px;
    width: 84px;
    border: 1px solid #d5d5d5;
    line-height: 60px;
    margin-top: 12px;
}
.store-home .box1 .container-list .hospital .right-con .h-logo img{
    width: 84px;
    height: auto;
    vertical-align: middle;
}


.store-home-case{background: #fff;width: 100%;}
.store-home-case .container-warp{
    width: 1190px;
    height: auto;
    margin: 0 auto;
}
.store-home-case .container-title{
    padding-top: 38px;
    text-align: center;
}
.store-home-case .container-title>h3{
    position: relative;
    font-size: 24px;
    color: #484848;
    line-height: 48px;
    font-weight: 500;
}
.store-home-case .container-title>h3:after{
    content:'';
    position: absolute;
    top:22px;
    margin-left: 10px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") 0 -90px no-repeat;
}
.store-home-case .container-title>h3:before{
    content:'';
    position: absolute;
    top:22px;
    margin-left: -95px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") -88px -90px no-repeat;
}
.store-home-case .container-title>p{
    font-size: 14px;
    color:#484848;
    text-align: right;
    line-height: 14px;
}
.store-home-case .container-list{
    margin-top: 8px;
    margin-bottom: 79px;
    font-size: 12px;
}

.store-home-pic{background: #fff;width: 100%;}
.store-home-pic .container-warp{
    width: 1190px;
    height: auto;
    margin: 0 auto;
}
.store-home-pic .container-title{
    padding-top: 38px;
    text-align: center;
}
.store-home-pic .container-title>h3{
    position: relative;
    font-size: 24px;
    color: #484848;
    line-height: 48px;
    font-weight: 500;
}
.store-home-pic .container-title>h3:after{
    content:'';
    position: absolute;
    top:22px;
    margin-left: 10px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") 0 -90px no-repeat;
}
.store-home-pic .container-title>h3:before{
    content:'';
    position: absolute;
    top:22px;
    margin-left: -95px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") -88px -90px no-repeat;
}
.store-home-pic .container-title>p{
    font-size: 14px;
    color:#484848;
    text-align: right;
    line-height: 14px;
}
.store-home-pic .container-list{
    margin-top: 8px;
    margin-bottom: 79px;
    font-size: 12px;
}

.store-home-comment{width: 100%;}
.store-home-comment .container-warp{
    width: 1190px;
    height: auto;
    margin: 0 auto;
}
.store-home-comment .container-title{
    padding-top: 38px;
    text-align: center;
}
.store-home-comment .container-title>h3{
    position: relative;
    font-size: 24px;
    color: #484848;
    line-height: 48px;
    font-weight: 500;
}
.store-home-comment .container-title>h3:after{
    content:'';
    position: absolute;
    top:22px;
    margin-left: 10px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") 0 -90px no-repeat;
}
.store-home-comment .container-title>h3:before{
    content:'';
    position: absolute;
    top:22px;
    margin-left: -95px;
    width: 88px;
    height: 5px;
    background: url("../images/index-ico.png") -88px -90px no-repeat;
}
.store-home-comment .container-title>p{
    font-size: 14px;
    color:#484848;
    text-align: right;
    line-height: 14px;
}
.store-home-comment .container-list{
    margin-top: 20px;
    margin-bottom: 79px;
    font-size: 12px;
    background: #fff;
    float: left;
    border-radius:8px;
    width: 1190px;
}
.store-home-comment-little{
    width: 860px;
    margin: 0 auto;
}
.store-home-comment-score{
    height: 50px;
    line-height: 50px;
    border-bottom:1px solid #e5e3e4;
    font-size: 14px;
    color:#5f5f5f;
}
.store-home-comment-score i{
    font-size: 18px;
    color:#2db4df;
}
.store-home-comment-score span{
    margin: 0 20px 0 15px;
}
.store-home-comment-score .score-star em{
    vertical-align: text-top;
}
.store-home-comment-li li{
    float: left;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 25px;
    font-size: 14px;
}
.store-home-comment-li li:nth-child(even){
    border-bottom: none;
}
.store-home-comment-user{
    float: left;
    width: 120px;
    font-weight: bold;
    color:#585858;
    text-align: center;
}
.store-home-comment-face{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.store-home-comment-face img{
    width: 100%;
    height: 100%;
}
.store-home-comment-con{
    float: left;
    width: 740px;
}
.store-home-comment-li-top{
    height: 45px;
    color:#333333;
    font-weight: bold;
    line-height: 45px;
}
.store-home-comment-li-top .comment-score{
    float: left;
}
.store-home-comment-li-top .comment-time{
    float: right;
    color:#999999;
    font-weight: normal;
}
.store-home-comment-li-text{
    color:#585858;
    line-height: 20px;
    margin-bottom: 20px;
}
.store-home-comment-load{
    margin-bottom: 40px;
    margin-top: 40px;
}
.store-crumb{
    height: 20px;
    color:#0caad4;
    line-height: 20px;
    margin: 18px 0;
}
.store-crumb img{
    float: left;
    margin-right: 14px;
}
.store-crumb a{
    color:#0caad4;
}
.store-crumb i{
    color:#666666;
    margin: 0 10px;
}

.store-filter a{font-size: 12px;}
.store-filter .title{font-weight: normal!important;font-size: 12px!important;}
.store-filter .active{border-radius: 24px;}

.storeActiveli{
    float: right;
    width: 890px;
    margin-left: 10px;
}
.storeActiveli >ul > li{
    float: left;
    background: #ffffff;
    border:1px solid #e6e7eb;
    height: 220px;
    padding: 30px 20px;
}
.storeActiveli >ul > li:hover{
    border:1px solid #2db4df;box-shadow: 0 0 10px 3px #d8eef4;
}
.storeActiveli-img{
    width: 260px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.storeActiveli-img img{
    width: 100%;
    height: auto;
}
.storeActiveli-entry{
    width: 558px;
    float: left;
    margin-left: 25px;
    position: relative;
    height: 100%;
}
.storeActiveli-entry h3{
    color:#2db4df;
    font-size: 18px;
    font-weight: normal;
}
.storeActiveli-info{
    height: 25px; overflow: hidden;
    margin: 15px 0;
}
.storeActiveli-info li{
    float: left;
    border: 1px solid #2db4df;
    color:#2db4df;
    margin-right: 8px;
    border-radius: 3px;
    line-height: 23px;
    font-size: 12px;
}
.storeActiveli-info span{
    display: inline-block;
    padding: 0 5px;
    height: 100%;
    color:#fff;
    background: #2db4df;
}
.storeActiveli-info i{
    padding: 0 5px;
}
.storeActiveli-text{
    height: 60px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color:#666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.storeActiveli-field{
    position: absolute;
    height: 16px;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color:#999999;
}
.storeActiveli-field p{
    margin-right: 20px;
    float: left;
}
.storeActiveli-field img{
    float: left;
    margin: 6px 5px 0 0;
}

.storeActiveMain .storeActiveli-field{
    bottom: 30px;
}
.storeActiveMain .storeActiveli-info{
    width: 65%;
    overflow: visible;
    height: auto;
    padding-bottom: 15px;
}
.storeActiveMain .storeActiveli-info li{
    margin-top: 6px;
}





.storeActiveMain{
    float: right;
    width: 890px;
}
.storeActiveMain .top-title{
    padding:0 25px;
    background: #fff;
    position: relative;
}
.storeActiveMain .top-title .entry-title{
    font-size: 30px;
    color: #202020;
    font-weight: 500;
    padding-top: 30px;
    line-height: 50px;
}

.storeActiveMain .entry-content{
    background: #fff;
    margin-top: 20px;
    float: left;
}
.storeActiveMain .single-content{
    padding: 39px 25px;
    font-size: 16px;
    color:#202020;
    line-height: 28px;
}
.storeActiveMain .single-content-foot{
    width: 100%;
    float: left;
    margin: 60px 0;
    font-size:16px;
    color:#666666;
}
.storeActiveMain .single-content-foot .single-share{
    float: left;
}
.storeActiveMain .single-content-foot .single-author{
    float: right;
}
.storeActiveMain .single-content-foot .single-zan{
    float: right;
    color:#999999;
}
.storeActiveMain .single-content-foot .single-zan img{
    vertical-align: sub;
}
.storeActiveMain .single-content-foot .single-zan span{
    margin-left: 20px;
}

.storeActiveMain-join{
    float: left;
    font-size: 30px;
    color:#202020;
    margin-top: 60px;
    width: 100%;
    margin-bottom: 30px;
}
.storeActiveMain-group{
    width: 600px;
    font-size: 16px;
    color:#2db4df;
    margin: 40px auto;
}
.storeActiveMain-group li{
    float:left;
    margin-top:14px;
    width: 50%;
}
.storeActiveMain-group li:nth-child(even){
    text-align: right;
}
.storeActiveMain-group input:focus,.storeActiveMain-group textarea:focus{
    outline:none;
    border: 1px solid #2db4df;
    box-shadow:0 0 10px 3px #e8f3fe;
}
.storeActiveMain-group input{
    border: 1px solid #a9a9a9;
    background: none;
    width: 215px;
    height: 30px;
}
.storeActiveMain-group select{
    border: 1px solid #a9a9a9;
    background: none;
}
.storeActiveMain-group textarea{
    background: none;
    width: 552px;
    max-width: 552px;
    height: 96px;
    vertical-align: text-top;
}
.storeActiveMain-comment-but{
    width: 200px;
    height: 35px;
    background: #2db4df;
    border: none;
    font-size: 16px;
    color:#fff;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    float: right;
    margin-top: 10px;
}

.storeActiveMain-comment{
    width: 100%!important;
}
.storeActiveOther-view{
    width: 100%;
    margin-top: 45px;
    background: #fff;
    padding-left: 25px;
    float: left;
    padding-bottom: 35px;
}
.storeActiveOther-view .other-view-tit{
    font-size: 30px;
    color:#202020;
    padding: 48px 0 22px 0;
}
.storeActiveOther-view img{
    max-width: 260px;
    max-height: 160px;
}
.storeActiveOther-view p{
    color:#333333;
    font-size: 14px;
}
.storeActiveOther-view ul{
    width: 100%;
}
.storeActiveOther-view li{
    float: left;
    width: 260px;
    margin-right: 27px;
    overflow: hidden;
    display: -webkit-box;
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.storeActiveOther-view li:nth-child(3n){
    margin-right: 0;
}
.storeActiveOther-img{
    width: 100%;
    height: 160px;
}
.storeActiveOther-img img{
    width: 100%;
    height: auto;
}
.storeActive-comments{
    margin-top: 45px;
    background: #fff;
    padding-left: 25px;
    float: left;
}
.storeActive-comments .comments-tit{
    font-size: 18px;
    color:#000000;
    padding: 53px 0 10px 0;
}
.storeActive-comments .comments-tit span{
    float: right;
    font-size: 14px;
    color: #000000;
    margin-right: 50px;
}
.storeActive-comments .comments-tit span i{
    font-size: 18px;
    color:#f65e73;
    font-weight: bold;
    margin: 0 5px;
}
.storeActive-comments  .input-comment{
    height: 128px;
}
.storeActive-comments .comment-li li{
    height: 160px;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 24px;
}
.storeActive-comments .comment-li .user-info{
    float: left;
    color:#585858;
    text-align: center;
    width: 80px;
}
.storeActive-comments .comment-li span{
    font-size: 14px;
    color:#585858;
}
.storeActive-comments .comment-li .user-info img{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
}
.storeActive-comments .comment-li .user-info span{
    width: 100%;
    font-size:14px;
    font-weight:bold;

}
.storeActive-comments .comment-li .content-text{
    float: right;
    width: 737px;
    color: #9999a5;
    margin-left:15px;

}
.storeActive-comments .comment-li .content-text .hour{
    color:#9999a5;
    font-size:12px;

}
.storeActive-comments .comment-operate-item{
    float: right;
    position: relative;
    width: 72px;
    padding-left: 26px;
    height: 18px;
    line-height: 19px;
    background-image: url("../images/article_comment.png");
    background-repeat: no-repeat;
    color: #adadad;
    font-size: 12px;
    cursor: pointer;
}
.storeActive-comments .comment-operate-up {
    background-position: 0 -36px;
}
.storeActive-comments .comment-operate-reply {
    background-position: 0 -53px;
}
.storeActive-comments .operate-visited{
    background-position: 0 -1px;
    color: #379be9!important;
}
.storeActive-comments .comment-li .content-text p{
    color:#333333;
    font-size:14px;
    margin-top: 10px;
}
.storeActive-comments .more-load{
    width: 100px;
    height: 33px;
    background: #2db4df;
    border-radius:30px;
    font-size:14px;
    color: #ffffff;
    line-height:33px;
    text-align: center;
    margin: 50px auto;
}
/*active-tag*/
.store-tag{
    position: relative;
}
.store-tag:before{content: '';height: 18px;border-bottom-right-radius: 5px;position:absolute;z-index: 10;left: 0;
    font-size:12px;
    color:#fff;
    line-height: 18px;
    text-align: center;
    padding: 0 5px;
}
.store-tag-new:before{content: '新';background: #fe7dad;}
.store-tag-old:before{content: '往期';background: #999999;}
.store-tag img{
    position: absolute;
}
.store-tag-new-but{display: block;width: 67px;height: 20px;background: #fe7dad;color:#fff;line-height: 20px;text-align: center;margin-top: 6px;border-radius: 20px;float: right;}
.store-tag-old-but{display: block;width: 67px;height: 20px;background: #ebebeb;;color:#666666;line-height: 20px;text-align: center;margin-top: 6px;border-radius: 20px;float: right;}
/*hospital*/
.store-hospital .filter-list{
    height: auto;
}
.store-hospital .filter-items:last-of-type{
    margin-bottom: 40px;
}
.store-hospital .search-log{
    bottom: 10px;
}

/*合作医院list*/
.storeHospitalLi .archive-list{padding:20px 20px; height: 258px;}
.storeHospitalLi .entry-header{width: 100%;font-size: 16px;color:#000000;padding:0;border: none;}
.storeHospitalLi .entry-header > span{}
.storeHospitalLi .entry-img{width:215px;height:263px;float: left;}
.storeHospitalLi .entry-img a{display: inline-block;width: 198px;height: 140px;overflow: hidden;border: 1px solid #d5d5d5;border-radius: 5px;line-height: 200px;}
.storeHospitalLi .entry-img .service span{display: inline-block;width: 63px;margin-top: 15px;text-align: center;color:#444444;line-height: 35px;}
.storeHospitalLi .entry-img .service span:before{margin: 0 auto;content: "";display:block;width: 36px;height: 36px;background: url("../images/server-ico.png") 0 0 no-repeat;}
.storeHospitalLi .entry-content{width:310px;color: #666666;float: left;margin: -7px 0 0 15px;}
.storeHospitalLi .entry-content h2{overflow: hidden;color:#000000; font-weight: 500; font-size:16px;width: inherit;line-height: 23px;}
.storeHospitalLi .entry-content h2 a{color: #444444;}
.storeHospitalLi .entry-content h2 a:hover{color: #2299ee;text-decoration: underline;}
.storeHospitalLi .entry-content .post-field{width:50%;display:inline-block;font-size: 12px;color:#606060;}
.storeHospitalLi .entry-content .post-type{}
.storeHospitalLi .entry-content .type-widget{height: 22px;color: #2db4df;display:inline-block;font-size:12px;padding:0 10px 0 10px;margin-right:12px;line-height:21px;  border:1px solid #2db4df;}
.storeHospitalLi .entry-content .post-grade{color: #3fa5ff;font-size: 16px;margin-top: 34px;}
.storeHospitalLi .entry-content .post-index .star{background: url(../images/hospitalstart.png) center no-repeat;width: 78px;height: 14px;}
.storeHospitalLi .entry-content .grade-other{margin: 10px;line-height: 40px;}
.storeHospitalLi .entry-content .grade-other i{color: #2db4df;}
.storeHospitalLi .entry-content .post-doctor{margin-top: 15px;}
.storeHospitalLi .entry-content .post-doctor li{width:50px;height:50px;overflow:hidden;border:1px solid #ececec;box-sizing:border-box;float: left;margin-right: 10px;}
.storeHospitalLi .entry-content .post-doctor li img{width: 100%;height: auto;}
.storeHospitalLi .entry-content .jigou{border:1px solid #ececec;width: 390px;height: 85px;}
.storeHospitalLi .entry-content .jigou ul{float: left;}

.storeHospitalLi .entry-content .jigou li{height: 85px;width:116px;position: relative;}
.storeHospitalLi .entry-content .jigou li img{width: 100%;}
.storeHospitalLi .entry-content .jigou li:before{content: '';display: inline-block;width: 61px;height: 29px;background: url("../images/service-function.png") no-repeat;position: absolute;top:0;}

.storeHospitalLi .entry-content .jigou dl{font-size: 12px;color:#444444;line-height: 18px;padding-top: 5px;}
.storeHospitalLi .entry-content .jigou dt:before{content: "Â·";margin-right: 5px;}

/*storeNewli*/
.storeNewli .storeActiveli-text{
    margin-top: 18px;
}
/*storeNewsContet*/
.storeNewsContet .storeActiveMain .entry-title{
    padding-bottom: 55px;
}

.storeActiveli-field{
    left: 30px;
    right: auto;
}
.storeContact{
    padding:60px 100px;
}
.storeContact-1{
    float: left;
    width: 100%;
}

.storeContact-1-left{
    position: relative;
    float: left;
    width: 477px;
    height: 333px;
    overflow: hidden;
}
.storeContact-1-left img{
    width: 100%;
    height: 100%;

}
.storeContactpage{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 99;
}
.storeContact-1-con{
    float: left;
    width: 470px;
    margin-left: 25px;
}
.storeContact-1-title{
    font-size: 24px;
    font-weight: bold;
    color:#555555;
}
.storeContact-1-ename{
    color:#555;
    font-size: 16px;
    line-height: 45px;
}
.storeContact-1-con > ul{
    margin-top: 5px;
}
.storeContact-1-con li{
    float: left;
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color:#444;
}
.storeContact-1-con img{
    padding-right: 10px;
    float: left;
    margin-top: 12px;
}
.storeContact2{
    height: 525px;
    margin-top: 70px;
}
.storeContact2-left{
    float: left;
    width: 557px;
    height: 100%;
}
.storeContact2-con{
    float: left;
    width: 327px;
    height: 100%;
    margin-left: 15px;
    border: 1px solid #e8e8e8;
    overflow: auto;
}
.storeContact2-con-left{
    float: left;
    width: 100px;
    text-align: center;
    overflow: hidden;
}
.storeContact2-img {
    width: 66px;
    height: 66px;
    margin: 0 auto;
}
.storeContact2-name{
    font-weight: bold;
}
.storeContact2-img img{
    width: 100%;
    height: 100%;
}
.storeContact2-con-con{
    float: left;
    width: 200px;
    font-size: 12px;
}
.storeContact2-con-con li{
    color:#555;
    display: block;
}
.storeContact3{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.storeContact3-title{
    font-size: 30px;
    color:#23add2;
    text-align: center;
}
.storeContact3-remark{
    color:#999;
    font-size: 14px;
    margin: 23px 0 33px 0;
}
.storeContact3-input input{
    width: 293px;
    height: 45px;
    background: #f0f0f0;
    border: none;
    outline: none;
    padding-left: 40px;
    margin-right: 50px;
}
.storeContact3-input li:nth-child(1) input{
    background: url('../images/merchant/active-7.png') 10px 13px no-repeat #f0f0f0;
}

.storeContact3-input li:nth-child(2) input{
    background: url('../images/merchant/active-8.png') 10px 13px no-repeat #f0f0f0;
}
.storeContact3-input li:nth-child(3) input{
    background: url('../images/merchant/active-9.png') 10px 13px no-repeat #f0f0f0;
    margin-right: 0;
}
.storeContact3-input textarea{
    width: 100%;
    height: 105px;
    margin-top: 34px;
    padding-left: 40px;
    background: #f0f0f0;
    border: none;
    outline: none;
    background: url('../images/merchant/active-10.png') 10px 13px no-repeat #f0f0f0;
}
.storeContact-bttton{
    width: 145px;
    height: 50px;
    color:#ffffff;
    font-size: 18px;
    border: none;
    background: #2db4df;
    border-radius:7px;
}
.hospitalHome1{
    float: left;
    width: 100%;
    color:#5a5f63;
    font-size: 14px;
    border:none;
    margin-top: 20px;
    padding-bottom: 20px;
}
.hospitalHome1-left{
    width: 300px;
    height: 210px;
    overflow: hidden;
    float: left;
    border-radius: 10px;
    margin: 20px 0 0 20px;
}
.hospitalHome1-left img{
    width: 100%;
    height: auto;
}
.hospitalHome1-right{
    float: left;
    width: 800px;
    margin-left: 20px;
    margin-top: 27px;
}
.hospitalHome1-right img{
    padding-right: 15px;
    vertical-align: middle;
}
.hospitalHome1-right i{
    color:#333333;
}
.hospitalHome1-right span{
    margin-right: 30px;
}
.hospitalHome1-info-text{
    margin-top: 20px;
}
.hospitalHome1-info-text p{
    float: left;
}
.hospitalHome1-info-text p:nth-child(1){
    width: 50px;
}
.hospitalHome1-info-text p:nth-child(2){
    width: 750px;
}
.hospitalHome-rank{
    width: 100%;
    float: left;
    border: none;
    margin-top: 20px;
    padding: 22px 60px;
}
.hospitalHome-rank-left{
    width: 253px;
    float: left;
}
.hospitalHome-rank-left li{
    position: relative;
    float: left;
    background: #def1f7;
    margin-top: 3px;
    border-radius: 4px;
    text-align: left;
}
.hospitalHome-rank-left li a{
    display: block;
    width: 239px;
    height: 60px;
    color:#2db4df;
    line-height: 60px;
    font-size: 16px;
}
.hospitalHome-rank-left li i{
    background: url('../images/merchant/active-16.png') left no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 30px;
}
.hospitalHome-rank-left .act{
    background: #2db4df;
    color:#fff;
}
.hospitalHome-rank-left .act a{
    color: #fff;
}
.hospitalHome-rank-left .act i{
    background: url('../images/merchant/active-17.png') left no-repeat;
}
.hospitalHome-rank-left .act:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid #2db4df;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    right: -12px;
    top: 16px;
}
.hospitalHome-rank-top,.hospitalHome-rank-bottom{
    cursor: pointer;
    text-align: center;
}
.hospitalHome-rank-con-info > p,.hospitalHome-rank-content >p{
    color:#333333;
    font-size: 18px;
}
.hospitalHome-rank-con-info > p >i{
    color:#2db4df;
}
.hospitalHome-rank-con-info p img{
    margin-right: 18px;
}
.hospitalHome-rank-con{
    float: left;
    width: 750px;
    margin-left: 60px;
    margin-top: 25px;
}
.hospitalHome-rank-con-info{
    display: none;
}
.hospitalHome-rank-content >p{
    line-height: 60px;
}
.hospitalHome-rank-text{
    font-size: 14px;
    color:#5a5f63;
    background: url(../images/merchant/active-16.png) left 5px no-repeat;
    padding-left: 22px;
}
.hospitalHome-rank-list{
    height: 160px;
    overflow: auto;
}
.hospitalHome-rank-list-ke{
    overflow: auto;
}
.hospitalHome-doctor{
    background: url("../images/merchant/home-21.png") 100% 100% no-repeat;
    margin-top: 60px;
    width: 100%;
    height: 627px;
}
.hospitalHome-doctor .container-warp{
    width: 1190px;
    height: auto;
    margin: 0 auto;
}
.hospitalHome-doctor .container-title{
    padding-top: 38px;
    text-align: center;
}
.hospitalHome-doctor .container-title>h3{
    position: relative;
    font-size: 24px;
    color: #fff;
    line-height: 48px;
    font-weight: 500;
}
.hospitalHome-doctor .container-title>h3:after{
    content:'';
    position: absolute;
    top:22px;
    margin-left: 10px;
    width: 88px;
    height: 5px;
    background: url("../images/merchant/active-19.png") 0 0 no-repeat;
}
.hospitalHome-doctor .container-title>h3:before{
    content:'';
    position: absolute;
    top:22px;
    margin-left: -95px;
    width: 88px;
    height: 5px;
    background: url("../images/merchant/active-18.png") 0 0 no-repeat;
}
.hospitalHome-doctor .container-title>p{
    font-size: 14px;
    color:#484848;
    text-align: right;
    line-height: 14px;
}
.hospitalHome-doctor .container-list{
    margin-top: 8px;
    margin-bottom: 79px;
    font-size: 12px;
}

.hospitalHome-doctor2{
    position: relative;
    background: #fff;
    width: 280px;
    height: 380px;
    border-radius: 10px;
    border:1px solid #2db4df;
    margin-right: 15px;
}
.hospitalHome-doctor-img{
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    margin: 0 auto;
    height: 140px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.hospitalHome-doctor-img img{
    width: auto;
    height: 100%;
}
.hospitalHome-doctor-type{
    position: absolute;
    display: inline-block;
    height: 25px;
    padding:0 15px ;
    font-size: 14px;
    color:#ffffff;
    background: #2db4df;
    border-radius: 25px;
    margin: 10px 10px 0 10px;
}
.hospitalHome-doctor-3{
    font-size: 16px;
    color:#333;
    text-align: center;
}
.hospitalHome-doctor-4{
    font-size: 14px;
    color:#666666;
    text-align: center;
}
.hospitalHome-doctor-5{
    margin-top: 30px;
}
.hospitalHome-doctor-5 ul{
    width: 100%;
}
.hospitalHome-doctor-5 li{
    display: block;
    margin-left: 80px;
}
.hospitalHome-doctor-5 img{
    float: left;
    margin-top: 3px;
    padding-right: 10px;
}
.hospitalHome-doctor1{
    width: 100%;
    overflow: hidden;
}
.hostpitalDocli{
    margin-top: 20px;
    float: left;
}
.hostpitalDocli1{
    display: inline-block;
}

.hospital-doctor{
    width: 100%;
    float: left;
    border: none;
    margin-top: 20px;
}
.hospital-doctor-info .info-face,.hospital-doctor-info .info-field,.hospital-doctor-info .info-ser{
    float: left;
}
.hospital-doctor-info .info-face{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 75px;
    margin-top: 50px;
}
.hospital-doctor-info .info-face img{
    width: 100%;
    height: auto;
}
.hospital-doctor-info .info-field{
    margin-left: 25px;
    margin-top: 50px;
    width: 540px;
    position: relative;
}
.hospital-doctor-info .info-field > h3,.hospital-doctor-info .info-field > p{
    float: left;
    color:#444;
}
.hospital-doctor-info .info-field > h3{
    font-size: 30px;
    font-weight: normal;
}
.hospital-doctor-info .info-field > p{
    font-size: 16px;
    margin-left: 20px;
    line-height: 40px;
}
.hospital-doctor-info .info-field ul{
    width: 100%;
    color:#606060;
    margin-top: 10px;
}
.hospital-doctor-info .info-field li{
    height: 35px;
    line-height: 35px;
    float: left;
}
.hospital-doctor-info .info-field li:nth-child(odd){
    width: 60%;
}
.hospital-doctor-info .info-field li:nth-child(even){
    width: 40%;
}
.hospital-doctor-info .info-field li img{
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}
.hospital-doctor-info .info-field .doctor-bnt{
    position: absolute;
    right:50px;
    top:-10px;
    cursor: pointer;
}
.hospital-doctor-info .info-ser{
    width: 350px;
    border: 1px solid #ececec;
    border-top: none;
    border-bottom: none;
    height: 250px   ;
    padding: 0 50px;
}

.hospital-doctor-info .info-ser p{
    font-size: 18px;
    color:#333;
    margin: 10px 0  15px 0;
    text-align: center;
}
.hospital-doctor-info .info-ser p img{
    vertical-align: middle;
    margin: -2px 10px;
}
.hospital-doctor-info .info-ser p:before{
    content: '';
    height: 6px;
    width: 20px;
    display: inline-block;
    margin-right: 25px;
    border-top: 1px solid #aaa;
}
.hospital-doctor-info .info-ser p:after{
    content: '';
    height: 6px;
    width: 20px;
    display: inline-block;
    margin-left: 25px;
    border-top: 1px solid #aaa;
}
.hospital-doctor-info .info-ser span{
    display: block;
    width: 75%;
    font-size: 16px;
    color:#444;
    margin: 0 auto;
    margin-top: 30px;
}
.hospital-doctor-info .info-ser li{
    height: 30px;
    padding: 0 15px;
    border: 1px solid #d5d5d5;
    border-radius: 26px;
    color: #666666;
    line-height: 26px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 14px;
}
.hospital-doctor-info .info-ser li:hover{
    border: solid 1px #2db4df;
    color:#2db4df;
}
.hospital-doctor-cont{
    border-top: 1px solid #ececec;
    width: 1060px;
    padding: 0 20px;
    margin: 45px auto;
}
.hospital-doctor-cont p{
    font-size: 24px;
    color:#484848;
    margin-top: 45px;
}
.hospital-doctor-cont p img{
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
}
.hospital-doctor-cont .doctor-text{
    font-size: 16px;
    color:#444444;
    margin: 30px 0 0px 0;
    padding-bottom: 20px;
}