body{
    background: #fff;
}
.ivf-ico{
    display: inline-block;
    background: url("../images/forum-act.png") no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: sub;
    margin:0 8px 0 7px;
}
.user-ico{
    height: 16px;
}
.hand-ico{
    background-position:-31px 0;
    vertical-align: middle;
    height: 21px;
}
.chat-ico{
    background-position:-14px 0;
    width: 16px;
    height: 16px;
}
.ivf-body{
    background: #fff;
    width: 1190px;
    margin: 0 auto;
}
.ivf-common-title:before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 18px;
    position: absolute;
    top:0;
    background: #f66385;
}
.ivf-common-title{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color:#000000;
    margin-bottom: 20px;
}
.ivf-common-title span{
    margin-left: 14px;
}
.ivf-common-title > a{
    color:#666666;
    font-size: 14px;
    float: right;
}
.ivf-menu{
    padding-top: 60px;
}
.ivf-menu li{
    display: inline-block;
    width: 144px;
    overflow: hidden;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.ivf-menu li a {
    color: #929394;
    width: 144px;
    display: inline-block;
    height: 100%;
}
.ivf-menu li a:hover{
    color: #f66385;
}
.ivf-menu li:before{
    content: '';
    display: block;
    background: url('../images/ivf-menu.png') no-repeat;
    width: 47px;
    height: 54px;
    margin: 0 auto;
}
.ivf-menu .li-bg:nth-child(1):before{
    background-position: 0 -57px;
}
.ivf-menu .li-bg:nth-child(2):before{
    background-position: -47px -57px;
}

.ivf-menu .li-bg:nth-child(3):before{
    background-position: -96px -57px;
}
.ivf-menu .li-bg:nth-child(4):before{
    background-position: -144px -57px;
    width: 43px;
}
.ivf-menu .li-bg:nth-child(5):before{
    background-position: -186px -57px;
    width: 58px;
}
.ivf-menu .li-bg:nth-child(6):before{
    background-position: -244px -57px;
    width: 51px;
}

.ivf-menu .li-bg:nth-child(7):before{
    background-position: -294px -57px;
    width: 58px;
}
.ivf-menu .li-bg:nth-child(8):before{
    background-position: -352px -57px;
    width: 46px;
}
.ivf-menu .hover-bg-1:before{
    background-position: 0 0;
}
.ivf-menu .hover-bg-2:before{
    background-position: -47px 0;
}

.ivf-menu .hover-bg-3:before{
    background-position: -96px 0;
}
.ivf-menu .hover-bg-4:before{
    background-position: -144px 0;
    width: 43px;
}
.ivf-menu .hover-bg-5:before{
    background-position: -186px 0;
    width: 58px;
}
.ivf-menu .hover-bg-6:before{
    background-position: -244px 0;
    width: 51px;
}

.ivf-menu .hover-bg-7:before{
    background-position: -294px 0;
    width: 58px;
}
.ivf-menu .hover-bg-8:before{
    background-position: -352px 0;
    width: 46px;
}
.hot-news-container{
    margin-top: 50px;
}
.hot-news-container .news-li > span{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    left: 14px;
}
.hot-news-container .news-li > span:before{
    position: absolute;
    top: 4px;
    content: '';
    display: inline-block;
    width: 4px;
    height: 18px;
    background: #f66385;
    left: -14px;
}
.hot-news-container .news-li ul>li{
    display: inline-block;
    height: 26px;
   /* margin-left: 54px;*/
    width: 146px;
    text-align: center;
}
.hot-news-container .news-li ul>li:nth-child(1){
    margin-left: 0;
}

.hot-news-container .news-column{
    width: 1050px;
    font-size: 16px;
    float: right;
    box-sizing: border-box;
    border-bottom:3px solid #eceef4;
}
.hot-news-container .news-column a:hover{
    color:#f66385;

}
.hot-news-container .news-column a{
    color:#2f3030;;

}
.hot-news-container .news-column > span{
    float: right;
}
.hot-news-container .news-column > span a{
    color: #666;
    font-size: 14px;
}





.hot-news-container .container-list{
    margin-top: 25px;
    display: none;
}
.hot-news-container .container-list .hot-news-title{
    position: absolute;
    top: 0;
    height: 45px;
    background: #000;
    opacity: .2;
}
.hot-news-container .container-list .hot-news{
    float: left;
    position: relative;
    width: 590px;
    height: 512px;
    margin-top: 5px;
}
.hot-news-container .container-list .hot-news li{
    margin-top: -6px;
}
.hot-news-container .container-list .accordion-item{
    position: relative;
    width: 590px;
    height: 80px;
    transition: height .3s ease-in-out;
}
.hot-news-container .container-list .accordion-item a{
    position: absolute;
    bottom: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    display: block;
    width: 590px;
}
.hot-news-container .container-list .active{
    height: 350px;
    -webkit-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}
.hot-news-container .container-list .cover_bg{
    width: 100%;
    height: 90px;
    background: linear-gradient(rgba(5, 5, 5, 0),rgba(0, 0, 0, 0.65));
    position: absolute;
    bottom: 0px;
}
.hot-news-container .container-list .active a{
    width: 590px;
    /*    height: 350px;*/
}
.hot-news-container .newslist{
    float: left;
    width: 288px;
    margin-left: 11px;
}
.hot-news-container .newslist .true-pic{
    position: relative;
    height: 200px;
    width: 290px;
    overflow: hidden;
}
.hot-news-container .newslist .true-pic .cover_bg{
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(5, 5, 5, 0),rgba(0, 0, 0, 0.65));
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.hot-news-container .newslist .true-pic a{
    font-size: 15px;
    color: #ffffff;
    width: 290px;
    display: inline-block;
    margin-top: 54px;
}
.hot-news-container .news-list{
    margin-top: -7px;
    background-color: #fff;
    color: #666666;
    font-size: 15px;
    width: 290px;
    border: 1px solid #e8e8e8;
}
.hot-news-container .news-list span{
    display: inline-block;
    height: 34px;
    border-bottom: 1px dashed #dddddd;
    width: 90%;
    overflow: hidden;
}
.hot-news-container .news-list a{
    line-height: 31px;
}
.hot-news-container .news-list li{
    width: 100%;
}
.hot-news-container .news-list li:before{
    content:'' ;
    display: inline-block;
    width: 5px;
    height: 5px;
    float: left;
    margin: 14px 13px 0 7px;
    background: url('../images/index-ico.png') 0 -43px no-repeat;
}

.hot-news-container .news-list li:first-child{
    margin-top: 10px;
}
.hot-news-container .news-list li:last-of-type span{
    margin-bottom: 10px;
    border-bottom:none;
}

.ivf-funciton{
    margin-top: 70px;
}
.ivf-funciton .ivf-comput{
    width: 290px;
    float: left;
}
.ivf-funciton .search-project{
    width: 290px;
    float: left;
    margin-left: 10px;
}
.ivf-funciton .search-project .project-warp li{
    width: 142px;
    height: 104px;
    text-align: center;
}
.ivf-funciton .search-project .project-warp li:before{
    content: '';
    display: block;
    background: url("../images/ivf-project.png") 0 0 no-repeat;
    margin: 11px auto;
    width: 47px;
    height: 54px;
}
.ivf-funciton .search-project .project-warp li:nth-child(1),.ivf-funciton .search-project .project-warp li:nth-child(4),.ivf-funciton .search-project .project-warp li:nth-child(5),.ivf-funciton .search-project .project-warp li:nth-child(8){
    background: #ffe9eb;
}
.ivf-funciton .search-project .project-warp li:nth-child(2),.ivf-funciton .search-project .project-warp li:nth-child(3),.ivf-funciton .search-project .project-warp li:nth-child(6),.ivf-funciton .search-project .project-warp li:nth-child(7){
    background: #fff4f4;
}
.ivf-funciton .search-project .project-warp li:nth-child(1):before{
    background-position: 0 0;
}
.ivf-funciton .ivf-stage{
    width: 590px;
    float: left;
    margin-left: 10px;
}
.ivf-funciton .ivf-stage .stage-warp{
    background: #ffe9eb;
    height: 416px;
    width: 100%;
}

.ivf-funciton .comput-warp{
    height: 415px;
    overflow: hidden;
}

.ivf-active{
    width: 100%;
    height: 150px;
    border: 1px solid #ffe8ed;
    margin-top: 40px;
}
.ivf-active:before{
    content: '热门活动';
    width: 16px;
    height: 64px;
    display: inline-block;
    float: left;
    background: #f8789a;
    margin-top: 44px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    color: #fff;
    font-family: "宋体";
    text-align: center;
    line-height: 14px;
    padding-top: 3px;

}
.ivf-active .active-container li{
    width: 360px;
    overflow: hidden;
    display: inline-block;
    margin-top: 14px;
    margin-left: 20px;
}
.ivf-active  .act-img{
    float: left;
    width: 119px;
    height: 119px;
    border: 1px solid #e4e4e4;
}
.ivf-active  .act-ritht{
    float: right;
    width: 230px;
}
.ivf-active  .act-ritht .act-ico{
    font-size: 12px;
    color:#f8789a;
    border: 1px #f8789a solid;
    border-radius: 3px;
    width: 30px;
    height:20px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
}
.ivf-active .act-ritht span{
    display: inline-block;
}
.ivf-active .act-ritht span a{
    color: #666666;
    font-size: 16px;
    line-height: 24px;
}
.ivf-active .act-ritht p{
    color: #acacac;
    font-size: 14px;
    margin-top: 8px;
}.ivf-active .active-container{
    overflow: hidden;
}
.ivf-active .act-join{
    display: block;
    width: 80px;
    height: 26px;
    font-size: 14px;
    color: #fff;
    background: #f8789a;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}
.ivf-forum{
    margin-top: 50px;
}
.ivf-forum .forum li{
    width: 285px;
    height: 315px;
    margin-right: 6px;
    border: 1px solid #d5d5d5;
    box-sizing: content-box;
    margin-top: 10px;
}
.ivf-forum .forum li:hover{
    -webkit-box-shadow: 0 0 20px 2px #cdcdcd;
    -moz-box-shadow: 0 0 20px 2px #cdcdcd;
    box-shadow: 0 0 20px 4px #cdcdcd;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.ivf-forum .forum li>p{
    font-family: "宋体";
    font-size: 12px;
    color:#555555;
    line-height: 23px;
    padding: 17px 10px 0 10px;
}
.ivf-forum .forum .forium-img{
    width: 285px;
    height: 190px;
    overflow: hidden;
    position: relative;
}
.ivf-forum .forum .forium-img:hover{

}
.ivf-forum .forum .info{
    position: absolute;
    bottom:0;
    color: #fff;
    width: 100%;
    padding-left: 5px;
    padding-top: 132px;
    height: 100%;
    background: linear-gradient(rgba(5, 5, 5, 0),rgba(0, 0, 0, 0.65));
}
.ivf-forum .forum .info .day{
    float: left;
    width: 32%;
    border-right: 1px solid #fff;
    font-size: 16px;
}
.ivf-forum .forum .info .day>span{
    font-size: 48px;
    margin: 0 4px;
}
.ivf-forum .forum .info .info-address{
    float: right;
    width: 68%;
    padding-left: 16px;
}
.ivf-forum .forum .info .info-address .time{
    font-size: 12px;
}
.ivf-forum .forum .info .info-address .address{
    font-size: 16px;
    line-height: 53px;
}
.ivf-forum .forum .column{
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
    top: -100%;
    bottom: 0;
    position: absolute;
    padding: 70px 0 0 20px;
    color: #fff;
    line-height: 20px;
}
.ivf-forum .forum .column>p{
    margin-top: 10px;
}
.ivf-forum .forum .list-foot{
    height: 39px;
    line-height: 40px;
}
.ivf-forum .forum .list-foot .user{
    float: left;
    font-size: 12px;
    color: #0073bc;
}
.ivf-forum .forum .list-foot .number{
    font-size: 14px;
    color:#555555;
    float: right;
}
.ivf-forum .forum .list-foot .number>span{
    margin-right: 18px;
}

.ivf-hospital{
    margin-top: 72px;
}
.ivf-hospital .hospital-list{
    margin-top: 28px;
    margin-bottom: 79px;
    width: 1190px;
    overflow: hidden;
    position: relative;
}
.ivf-hospital .hospital-list2{
    height: 204px;
    width: 288px;
    overflow: hidden;
    position: relative;
}
.ivf-hospital .hospital-list2-span1{
    color: #fff;
    position: absolute;
    bottom:0;
    width: 290px;
    height:105px;
    background: linear-gradient(rgba(5, 5, 5, 0),rgba(0, 0, 0, 0.9));
    line-height: 170px;
    text-align: center;
}
.ivf-hospital .hospital-list2-text{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    height: 100%;
    top:-100%;
    font-size: 14px;
    color:#fff;
    padding: 39px;
}
.ivf-hospital .hospital-list2-p1{
    font-size: 18px;
}
.ivf-hospital .hospital-list2-p2{
    margin-top: 19px;
    line-height: 20px;
}
.ivf-hospital .hospital-list2-p3{
    margin-top: 23px;
}
.ivf-hospital .hospital-list2-p3 span:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 23px;
    background: url("../images/hospital-ico.png") no-repeat;
    background-position: -48px 0px;
    vertical-align: sub;
    margin-right: 10px;
}
.ivf-hospital .hospital-button-next {
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 999;
    width: 24px;
    height: 52px;
    background: url(../images/hospital-ico.png) -24px 0 no-repeat;
}
.ivf-hospital .hospital-button-prev {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 999;
    width: 24px;
    height: 52px;
    background: url(../images/hospital-ico.png) 0 0 no-repeat;
}
.ivf-hospital .hospital-pagination{
    text-align: center;
    margin-top: 15px;
}
.ivf-hospital .swiper-pagination-bullet-active{
    background: #333333;
}
.ivf-hospital .swiper-pagination-bullet{
    width: 36px;
    height: 2px;
    border: none;
    border-radius: 0;
}

.company-box .container-warp {
    width: 1190px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.company-box .container-warp .container-list{
    margin-top: 25px;
    position: relative;
}
.company-box .container-list li{
    display: inline-block;
    width: 190px;
    height: 113px;
    border: #d5d5d5 1px solid;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 115px;

}
.company-box .container-list ul>li:nth-child(6){
    margin-right: 0;
}
.company-box .container-list ul>li img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.company-box .container-list li:hover{
    -webkit-box-shadow: 0 0 20px 2px #cdcdcd;
    -moz-box-shadow: 0 0 20px 2px #cdcdcd;
    box-shadow: 0 0 20px 4px #cdcdcd;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.company-box .company-button-next{
    position: absolute;
    left:0;
    top:86px;
    z-index: 999;
    width: 24px;
    height: 52px;
    background: url("../images/index-ico.png") -118px -114px no-repeat;
}
.company-box .company-button-prev{
    position: absolute;
    top:86px;
    right: 0;
    z-index: 999;
    width: 24px;
    height: 52px;
    background: url("../images/index-ico.png") -142px -114px no-repeat;
}

.article-box{
    margin-top: 80px;
}
.article-box .newslist{
    float: left;
    width: 288px;
    margin-right: 11px;
}
.article-box .newslist .true-pic{
    position: relative;
    height: 174px;
    width: 290px;
    overflow: hidden;
}
.article-box .newslist .true-pic .cover_bg{
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(5, 5, 5, 0),rgba(0, 0, 0, 0.65));
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.article-box .newslist .true-pic a{
    font-size: 15px;
    color: #ffffff;
    width: 290px;
    display: inline-block;
    margin-top: 54px;
}
.article-box .news-list{
    margin-top: -7px;
    background-color: #fff;
    color: #666666;
    font-size: 15px;
    width: 290px;
    border: 1px solid #e8e8e8;
}
.article-box .news-list span{
    display: inline-block;
    height: 34px;
    border-bottom: 1px dashed #dddddd;
    width: 90%;
    overflow: hidden;
}
.article-box .news-list a{
    line-height: 31px;
}
.article-box .news-list li{
    width: 100%;
}
.article-box .news-list li:before{
    content:'' ;
    display: inline-block;
    width: 5px;
    height: 5px;
    float: left;
    margin: 14px 13px 0 7px;
    background: url('../images/index-ico.png') 0 -43px no-repeat;
}

.article-box .news-list li:first-child{
    margin-top: 10px;
}
.article-box .news-list li:last-of-type span{
    margin-bottom: 10px;
    border-bottom:none;
}
.article-box .container-list > div:last-of-type{
    margin-right: 0;
}

.service-box{
    margin-top: 90px;
}
.service-box .container-list li{
    float: left;
    width: 140px;
    height: 116px;
    border: 1px solid #f8789a;
    text-align: center;
    color:#333333;
    font-size: 14px;
    margin-right: 35px;
}
.service-box .container-list li:last-of-type{
    margin-right: 0;
}
.service-box .container-list li:hover{
    background: #f8789a;
    color:#fff;
}
.service-box .container-list li:before{
    content: '';
    display: block;
    width: 37px;
    height: 37px;
    margin: 25px 0 15px 50px;
}